{% extends 'core/base.html' %}

{%block title %}Acerca de{% endblock %}

{% block background %}https://res.cloudinary.com/dqa2kd0vc/image/upload/v1723239826/Recorriendo-Chapingo_lbpxsy.jpg{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Jonathan Danae Flores Franco</span>
{% endblock %}

{%block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="https://res.cloudinary.com/dqa2kd0vc/image/upload/v1723225518/photo_ogspqh.jpg" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Mi Pasión por la Mecatrónica</h2>   
    <p>
        Como ingeniero mecatrónico, mi vida gira en torno a la tecnología y la innovación. Me apasiona la programación y los proyectos de código abierto, y disfruto encontrando soluciones creativas a los desafíos en los sectores industrial y agrícola. Mi enfoque integral combina conocimientos de mecánica, hidráulica, neumática, electrónica, control e informática.
    </p>
    <p>
        Además de la ingeniería, soy un gran amante de la música, especialmente del rock progresivo italiano. ¡Recomiendo darle una oportunidad!
    </p>
    <p>
        Soy una persona colaborativa y me adapto fácilmente a diferentes entornos. Estoy emocionado por comenzar mi carrera y contribuir al mundo de la ingeniería con creatividad y dedicación.
    </p>
    <p>
        Mi objetivo es formar parte de equipos multidisciplinarios donde pueda aplicar y fortalecer mis habilidades como desarrollador Python y como ingeniero mecatrónico. Busco proyectos que requieran una combinación de habilidades técnicas y creativas para poder crecer profesionalmente.
    </p>
  </div>
</div>
{% endblock %}
