{% extends 'core/base.html' %}

{%block title %}Contacto{% endblock %}

{% block background %}https://res.cloudinary.com/dqa2kd0vc/image/upload/v1723225517/contact-bg_bmuva2.jpg{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría y Servicios</span>
{% endblock %}

{%block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p style="text-align: justify;">
          Aquí encontrarás mis principales medios de 
          contacto, como mi perfil de LinkedIn, correo electrónico y perfil de 
          GitHub. También he incluido mi número de teléfono para facilitar una 
          comunicación directa. No dudes en utilizar cualquiera de estas 
          opciones si tienes preguntas o deseas ponerte en contacto conmigo.
        </p>
        <p><b>Teléfono:</b> +52 56 3502 1474</p>
    </div>
</div>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="mailto:fjonathan785@outlook.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/jdfloresf" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/jflores-franco/" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
